<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="res/logo.ico" type="image/x-icon"/>
    <link href="/css/main.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
    <script>
    $(window).on('load', function() {
      $(".se-pre-con").fadeOut("slow");;
    });
    $(document).ready(function () {
      $('.datepicker').datepicker({
        format: 'dd/mm/yyyy'
      });
      $(".clickable-row").click(function() {
          window.location = $(this).data("href");
      });

      /*$("#search_nric").keyup(function () {
        alert("Test");
        var value = $(this).val();
        var patt = new RegExp("^[A-Za-z]");

        if (value.length == 1) {
          if (!patt.test(value)) {
            alert(patt.test(value));
            return false;
          }
        } else {
          alert("length not 1");
        }
      });*/

      $("#search_nric").on("keypress", function(e) {
        var value = $(this).val();
        var keypress_value = String.fromCharCode(e.which);
        var patt1 = new RegExp("[A-Za-z]");
        var patt2 = new RegExp("[0-9]");

        if (value.length == 0) { // FIRST LETTER BEING PRESSED
          if (!patt1.test(keypress_value)) {
            e.preventDefault();
          }
        } else if (value.length >= 1 && value.length <= 7) {
          if (!patt2.test(keypress_value)) {
            e.preventDefault();
          }
        } else if (value.length == 8) {
          if (!patt1.test(keypress_value)) {
            e.preventDefault();
          }
        }
      });

      $("#nric_textbox").on("keypress", function(e) {
        var value = $(this).val();
        var keypress_value = String.fromCharCode(e.which);
        var patt1 = new RegExp("[A-Za-z]");
        var patt2 = new RegExp("[0-9]");

        if (value.length == 0) { // FIRST LETTER BEING PRESSED
          if (!patt1.test(keypress_value)) {
            e.preventDefault();
          }
        } else if (value.length >= 1 && value.length <= 7) {
          if (!patt2.test(keypress_value)) {
            e.preventDefault();
          }
        } else if (value.length == 8) {
          if (!patt1.test(keypress_value)) {
            e.preventDefault();
          }
        }
      });

      $("#delete_btn").on('click', function (e) {
        if (confirm("Are you sure you want to delete this?")) {
          return true;
        } else {
          e.preventDefault();
        }
      });

      $( "#search_nric" ).autocomplete({
        source: availableTags
      });
    });

    function validateNRICTextBox() {

    }

    </script>
    <title>OFFICER FIREBASE</title>
  </head>
  <body>
    <div class="se-pre-con"></div>
