<nav class="navbar navbar-expand-lg navbar-light bg-light bg-white border-bottom shadow-sm">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li>
        <a class="nav-link" href="/officers/">Officers</a>
      </li>
    </ul>

    <!-- WHERE ALL THE RIGHT SIDE MAGIC HAPPENS -->
    <% if (user) { %>
      <a class="btn btn-primary" href="/logout">Logout</a>
    <% } else { %>
    <a class="btn btn-primary" href="/login">Login</a>
    <% } %>


  </div>
</nav>
