<nav class="navbar navbar-dark navbar-expand-lg border-bottom shadow-sm" style="background-color: #888B8D">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navBar">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li>
        <a class="nav-link" href="/officers/">Officers</a>
      </li>
      <li>
        <a class="nav-link" href="/access_control/">Access Control</a>
      </li>
      <li>
        <a class="nav-link" href="/general_screener/">General Screener</a>
      </li>
      <li>
        <a class="nav-link" href="/admin/">Admin</a>
      </li>
    </ul>

    <% if (user) { %>
    <a class="btn btn-primary my-2 my-sm-0" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
    <% } else { %>
    <a class="btn btn-primary my-2 my-sm-0" href="/login"><i class="fas fa-sign-in-alt"></i></a>
    <% } %>


  </div>
</nav>