<% if (user.role == 1) { %>
<nav class="navbar navbar-dark navbar-expand-lg shadow-sm text-left" style="background-color: #888B8D">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <% if (user) { %>
  <a class="btn btn-primary my-2 my-sm-0 d-lg-none" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
  <% } else { %>
  <a class="btn btn-primary my-2 my-sm-0 d-lg-none" href="/login"><i class="fas fa-sign-in-alt"></i></a>
  <% } %>

  <div class="collapse navbar-collapse" id="navBar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/officers/">Officers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/access_control/">AC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/general_screener/">GS</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="xrayDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          X-Ray
        </a>
        <div class="dropdown-menu" aria-labelledby="xrayDropdown">
          <a class="dropdown-item" href="/xray_hbs/">X-Ray HBS</a>
          <a class="dropdown-item" href="/xray_pb/">X-Ray Pre-Board</a>
          <a class="dropdown-item" href="/xray_cargo/">X-Ray Cargo</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="stsbDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          ST & SB
        </a>
        <div class="dropdown-menu" aria-labelledby="stsbDropdown">
          <a class="dropdown-item" href="/security_test/">Security Test</a>
          <a class="dropdown-item" href="/security_breach/">Security Breach</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/others/">Others</a>
      </li>
      <% if (user.role < 3) { %>
      <li class="nav-item">
        <a class="nav-link" href="/admin/">Admin</a>
      </li>
      <% } %>
    </ul>
  </div>

  <% if (user) { %>
  <a class="btn btn-primary my-2 my-sm-0 d-none d-lg-block" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
  <% } else { %>
  <a class="btn btn-primary my-2 my-sm-0 d-none d-lg-block" href="/login"><i class="fas fa-sign-in-alt"></i></a>
  <% } %>
</nav>

<% } else if (user.role == 2 || user.role == 3) { %>
<% urlObj = typeof urlObj !== 'object' ? {} : urlObj %>
<nav class="nav fixed-bottom  nav-pills nav-fill">
  <% if (urlObj.path == "profile") { %>
  <a class="nav-item nav-link active" href="#"><i class="fas fa-user"></i><br />Profile</a>
  <a class="nav-item nav-link" href="/"><i class="fas fa-search"></i><br />Search</a>
  <% } else if (urlObj.path == "/") { %>
  <a class="nav-item nav-link" href="/profile"><i class="fas fa-user"></i><br />Profile</a>
  <a class="nav-item nav-link active" href="#"><i class="fas fa-search"></i><br />Search</a>
  <% } else { %>
  <a class="nav-item nav-link" href="/profile"><i class="fas fa-user"></i><br />Profile</a>
  <a class="nav-item nav-link" href="/"><i class="fas fa-search"></i><br />Search</a>
  <% } %>
</nav>
<% } %>