<% include partials/header %>
<% include partials/nav %>
<% var data = JSON.stringify(officer_details); %>
<script>
  $(function () {
    var data = <%- data %>;
    $("#officersTable").bootstrapTable({ data: data });
    $("#officersTable").on('click-cell.bs.table', function (field, columnName, valueClicked, data) {
      window.location.href = "/officers/" + data.nric + "/";
    });
  })
</script>

<div class="container-fluid">
  <% if (notif != null) { %>
  <% if('undefined'!== typeof alert || alert !== '' || alert !== null) { %>
  <% if (alert) { %>
  <div class="alert alert-success alert-dismissible fade show mx-auto col-11 col-sm-6 mt-3" role="alert">
    <% } else { %>
    <div class="alert alert-danger alert-dismissible fade show mx-auto col-11 col-sm-6 mt-3" role="alert">
      <% } %>
      <%=notif%>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } %>
    <% } %>

    <h4 class="mt-4">List of Officers</h4>
    <hr>

    <table class="table table-hover table-bordered table-striped mx-auto" id="officersTable" data-search="true"
      data-pagination="true">
      <thead class="thead-light">
        <tr>
          <th data-field="name" data-sortable="true">Name</th>
          <th data-field="nric" data-sortable="true">NRIC</th>
          <th data-field="cert_card_no" data-sortable="true">Certification Card No.</th>
          <th data-field="designation" data-sortable="true">Designation</th>
        </tr>
      </thead>
    </table>

    <div class="mb-4 col-11 mx-auto">
      <% if (user.role == 1) { %>
      <a href="new/" class="btn btn-primary col-s-8 col-md-8"><i class="fas fa-plus-circle"></i>&nbsp;&nbsp;Add New
        Officer</a>
      <% } %>
      <br />
      <a href="/expiring_ac/" class="btn btn-primary col-s-4 col-md-4">Expiring Certifications</a>
      <a href="/securitytestfailure" class="btn btn-primary col-s-4 col-md-4">Security Tests & Breach Failures</a>
    </div>
  </div>

  <% include partials/footer %>