<% include partials/header %>
<% include partials/nav %>
<% var data = JSON.stringify(officersST); %>
<script>
  $(function () {
    var data = <%- data %>;
    $("#stTable").bootstrapTable({ data: data });
    $("#stTable").on('click-cell.bs.table', function (field, columnName, valueClicked, data) {
      window.location.href = "/security_test/" + data.nric +  "/" + data.stId;
    });
  })
</script>
<div class="container-fluid">
  <h4 class="mt-4">Security Test Failures
  </h4>
  <hr>

  <ul class="nav nav-tabs mb-4">
    <li class="nav-item">
      <a class="nav-link active" href="#">ST</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/securitybreach">SB</a>
    </li>
  </ul>
  <table class="table table-hover table-bordered table-striped mx-auto" id="stTable" data-search="true" data-pagination="true">
    <thead class="thead-light">
      <tr>
        <th data-field="stName" data-sortable="true">Test Name</th>
        <th data-field="name" data-sortable="true">Name</th>
        <th data-field="nric" data-sortable="true">NRIC</th>
        <th data-field="location" data-sortable="true">Location</th>
        <th data-field="date" data-sortable="true">Date</th>
        <th data-field="time" data-sortable="true">Time</th>
        <th data-field="mode" data-sortable="true">Mode</th>
      </tr>
    </thead>
  </table>
</div>

<% include partials/footer %>