<% include partials/header %>
<% include partials/nav %>
<% var data = JSON.stringify(officersSB); %>
<script>
  $(function () {
    var data = <%- data %>;
    $("#sbTable").bootstrapTable({ data: data });
    $("#sbTable").on('click-cell.bs.table', function (field, columnName, valueClicked, data) {
      window.location.href = "/security_breach/" + data.nric +  "/" + data.sbId;
    });
  })
</script>
<div class="container-fluid">
  <h4 class="mt-4">Security Breaches
  </h4>
  <hr>

  <ul class="nav nav-tabs mb-4">
    <li class="nav-item">
      <a class="nav-link" href="/securitytestfailure">ST</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">SB</a>
    </li>
  </ul>

  <table class="table table-hover table-bordered table-striped mx-auto" id="sbTable" data-search="true" data-pagination="true">
    <thead class="thead-light">
      <tr>
        <th data-field="sbName" data-sortable="true">Test Name</th>
        <th data-field="name" data-sortable="true">Name</th>
        <th data-field="nric" data-sortable="true">NRIC</th>
        <th data-field="location" data-sortable="true">Location</th>
        <th data-field="date" data-sortable="true">Date</th>
        <th data-field="time" data-sortable="true">Time</th>
      </tr>
    </thead>
  </table>
</div>

<% include partials/footer %>