<% include partials/header %>
<% include partials/nav %>
<%
function UNIXConverter(UNIX_timestamp){
  var a = new Date(UNIX_timestamp * 1000);
  var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
  var year = a.getFullYear();
  var month = a.getMonth() + 1;
  var date = a.getDate();
  var hour = a.getHours();
  var min = a.getMinutes();
  var sec = a.getSeconds();
  var time = date + '/' + month + '/' + year;
  return time;
}

var message;
%>

<div class="container-fluid">
  <h4 class="mt-4">Add New Officer</h4>
  <hr>

  <form action='/officers/new/' method="POST">
    <div class="card d-flex mx-auto mb-5">

    </div>
    <div class="card-body">


      <div class="row mb-2 justify-content-center">
        <div class="col-sm-4">
          <label class="font-weight-bold mb-0" for="gs_theory">First Name:</label><br />
          <div class="form-check form-check-inline mb-1">
            <input class="form-check-input" type="radio" name="gs_theory_status" id="gs_theory_pass" value="1">
            <label class="form-check-label" for="gs_theory_pass">Pass</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gs_theory_status" id="gs_theory_fail" value="0">
            <label class="form-check-label" for="gs_theory_fail">Fail</label>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control datepicker" name="gs_theory" id="gs_theory" value="">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <label class="font-weight-bold mb-0" for="gs_hhmd">HHMD:</label><br />
          <div class="form-check form-check-inline mb-1">
            <input class="form-check-input" type="radio" name="gs_hhmd_status" id="gs_hhmd_pass" value="1">
            <label class="form-check-label" for="gs_hhmd_pass">Pass</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gs_hhmd_status" id="gs_hhmd_fail" value="0">
            <label class="form-check-label" for="gs_hhmd_fail">Fail</label>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control datepicker" name="gs_hhmd" id="gs_hhmd" value="">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <label class="font-weight-bold mb-0" for="gs_pds">PDS:</label><br />
          <div class="form-check form-check-inline mb-1">
            <input class="form-check-input" type="radio" name="gs_pds_status" id="gs_pds_pass" value="1">
            <label class="form-check-label" for="gs_pds_pass">Pass</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gs_pds_status" id="gs_pds_fail" value="0">
            <label class="form-check-label" for="gs_pds_fail">Fail</label>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control datepicker" name="gs_pds" id="gs_pds" value="">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-2 justify-content-center">
        <div class="col-sm-4">
          <label class="font-weight-bold mb-0" for="gs_wtmd">WTMD:</label><br />
          <div class="form-check form-check-inline mb-1">
            <input class="form-check-input" type="radio" name="gs_wtmd_status" id="gs_wtmd_pass" value="1">
            <label class="form-check-label" for="gs_wtmd_pass">Pass</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gs_wtmd_status" id="gs_wtmd_fail" value="0">
            <label class="form-check-label" for="gs_wtmd_fail">Fail</label>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control datepicker" name="gs_wtmd" id="gs_wtmd" value="">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <label class="font-weight-bold mb-0" for="gs_fl">FL:</label><br />
          <div class="form-check form-check-inline mb-1">
            <input class="form-check-input" type="radio" name="gs_fl_status" id="g_fls_pass" value="1">
            <label class="form-check-label" for="gs_fl_pass">Pass</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gs_fl_status" id="gs_fl_fail" value="0">
            <label class="form-check-label" for="gs_fl_fail">Fail</label>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control datepicker" name="gs_fl" id="gs_fl" value="">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <label class="font-weight-bold mb-0" for="gs_etd">ETD:</label><br />
          <div class="form-check form-check-inline mb-1">
            <input class="form-check-input" type="radio" name="gs_etd_status" id="gs_etd_pass" value="1">
            <label class="form-check-label" for="gs_etd_pass">Pass</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gs_etd_status" id="gs_etd_fail" value="0">
            <label class="form-check-label" for="gs_etd_fail">Fail</label>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control datepicker" name="gs_etd" id="gs_etd" value="">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </div>
          </div>
        </div>

      </div>
      <div class="row mb-2">
        <div class="col-sm-4">
          <label class="font-weight-bold mb-0" for="gs_mbs">MBS:</label><br />
          <div class="form-check form-check-inline mb-1">
            <input class="form-check-input" type="radio" name="gs_mbs_status" id="gs_mbs_pass" value="1">
            <label class="form-check-label" for="gs_mbs_pass">Pass</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gs_mbs_status" id="gs_mbs_fail" value="0">
            <label class="form-check-label" for="gs_mbs_fail">Fail</label>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control datepicker" name="gs_mbs" id="gs_mbs" value="">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </div>
          </div>
        </div>

      </div>

    </div>

    <% if (user.role == 1) { %>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary btn-block" name="add_btn">Add</button>
    </div>
    <% } %>
</div>

</div>

<div class="container-fluid">
  <div class="row">
    &nbsp;
  </div>
  <h3>
    <% if (message != null) { %>Message:
    <%=message%>
    <% } %>
  </h3>
  <center>
    <h4>Create New Officer</h4>
  </center>
  </br>
  <form action='/officers/new/' method="POST">
    <div class="row">
      <div class="col-3">
        NRIC: <input type="text" class="form-control" name="nric" id="nric_textbox" maxlength="9" size="9" required>
      </div>
      <div class="col-3">
        First Name: <input type="text" class="form-control" name="fname" required>
      </div>
      <div class="col-3">
        Last Name: <input type="text" class="form-control" name="lname" required>
      </div>
    </div>
    </br>
    Email: <input type="text" class="form-control col-9" name="email" required>
    </br>
    <div class="row">
      <div class="col-3">
        Certification Card No.: <input type="text" class="form-control" name="cert_card_no" required>
      </div>
      <div class="col-3">
        Organisation: <input type="text" class="form-control" name="organisation" required>
      </div>
      <div class="col-3">
        Gender: <select class="form-control" name="gender" required>
          <option value="0">Male</option>
          <option value="1">Female</option>
        </select>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-3">
        Serial No: <input type="text" class="form-control" name="serial_no" required>
      </div>
      <div class="col-3">
        Designation: <input type="text" class="form-control" name="designation" required>
      </div>
      <div class="col-3">
        Rank: <input type="text" class="form-control" name="rank" required>
      </div>
    </div>
    </br>
    Remarks: <textarea class="form-control col-9" name="remarks" required></textarea> <br>

    <!--<h4>Certified On:</h4>
      General Screener: <input type="text" class="form-control datepicker" name="general_screener" > <br>
      Access Control: <input type="text" class="form-control datepicker" name="access_control" > <br>
      ETD: <input type="text" class="form-control datepicker" name="etd" > <br>
      Front Loader: <input type="text" class="form-control datepicker" name="front_loader" > <br>
      X-Ray HBS: <input type="text" class="form-control datepicker" name="xray_hbs" > <br>
      X-Ray Pre-Board: <input type="text" class="form-control datepicker" name="xray_pb" > <br>
      X-Ray Cargo: <input type="text" class="form-control datepicker" name="xray_cargo" > <br>-->
    <button type="submit" class="btn btn-lg btn-primary btn-block col-9">Create</button>
  </form>
</div>

<% include partials/footer %>