<% include partials/header %>
<% include partials/nav %>
<% var data = JSON.stringify(admin_details); %>
<script>
  $(function () {
    var data = <%- data %>;
    $("#AdminTable").bootstrapTable({ data: data });
    $("#AdminTable").on('click-cell.bs.table', function (field, columnName, valueClicked, data) {
      window.location.href = "/admin/view/" + data.username + "/";
    });
  })
</script>
<div class="container-fluid">
  <% if (notif != null) { %>
  <% if('undefined'!== typeof alert || alert !== '' || alert !== null) { %>
  <% if (alert) { %>
  <div class="alert alert-success alert-dismissible fade show mx-auto col-11 col-sm-6 mt-3" role="alert">
    <% } else { %>
    <div class="alert alert-danger alert-dismissible fade show mx-auto col-11 col-sm-6 mt-3" role="alert">
      <% } %>
      <%=notif%>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } %>
    <% } %>

    <h4 class="mt-4">Administration</h4>
    <hr>

    <table class="table table-hover table-bordered table-striped mx-auto" id="AdminTable" data-search="true"
      data-pagination="true">
      <thead class="thead-light">
        <tr>
          <th data-field="name" data-sortable="true">Name</th>
          <th data-field="nric" data-sortable="true">NRIC</th>
          <th data-field="role" data-sortable="true">Role</th>
        </tr>
      </thead>
    </table>

    <div class="mb-4 col-11 mx-auto">
      <% if (user.role == 1) { %>
      <a href="/admin/new/" class="btn btn-primary col-sm-6"><i class="fas fa-plus-circle"></i>&nbsp;&nbsp;Add New
        Admin</a>
      <% } %>

    </div>

    <% include partials/footer %>