<% include partials/header %>
<% include partials/nav %>
<%
function UNIXConverter(UNIX_timestamp){
  try {
    if (UNIX_timestamp == 0 || isNaN(UNIX_timestamp)) {
      return "-";
    }
    var a = new Date(UNIX_timestamp * 1000);
    var year = a.getFullYear();
    var month = a.getMonth() + 1;
    var date = a.getDate();
    if (month < 10) {
      month = "0" + month;
    }
    if (date < 10) {
      date = "0" + date;
    }
    var time = date + '/' + month + '/' + year;
    return time;
  } catch (error) {
    return "";
  }
}
%>

<% if (user.role == 2 || user.role == 3) { %>
<div class="title">
  <h4>
    <%=admin_details.username%>: Change Password</h4>
</div>

<% } %>
<div class="container-fluid">
  <% if (user.role == 1) { %>
  <h4 class="mt-4">
    <%=admin_details.username%>: Change Password
  </h4>
  <hr>
  <% } %>

  <% if (notif != null) { %>
  <div class="alert alert-info" role="alert">
    <%=notif%>
  </div>
  <hr>
  <% } %>
  <form class="col-sm-8 col-md-6 mx-auto" action='/admin/changepw/<%=admin_details.username%>' method="POST">
    <div class="card d-flex mx-auto mb-4 text-left">
      <div class="card-body px-4">
        <div class="row mb-2">
          <div class="col-sm-10 mx-auto">
            <label class="font-weight-bold mb-0" for="password">Password: </label><br />
            <div class="input-group mb-2">
              <input type="text" class="form-control" name="password" id="password" required>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-10 mx-auto">
            <label class="font-weight-bold mb-0" for="rpassword">Repeat Password: </label><br />
            <div class="input-group mb-2">
              <input type="text" class="form-control" name="rpassword" id="rpassword" required>
            </div>
          </div>

        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-block">Change</button>
      </div>
    </div>
  </form>

</div>

<% include partials/footer %>