<% include partials/header %>
<% include partials/nav %>
<%
function UNIXConverter(UNIX_timestamp){
  try {
    if (UNIX_timestamp == 0 || isNaN(UNIX_timestamp)) {
      return "-";
    }
    var a = new Date(UNIX_timestamp * 1000);
    var year = a.getFullYear();
    var month = a.getMonth() + 1;
    var date = a.getDate();
    if (month < 10) {
      month = "0" + month;
    }
    if (date < 10) {
      date = "0" + date;
    }
    var time = date + '/' + month + '/' + year;
    return time;
  } catch (error) {
    return "";
  }
}
%>
<div class="container-fluid">
  <div class="row">
    &nbsp;
  </div>
  <h4>
    <%=admin_details.username%>: Change Password</h4>
  <hr>
  <% if (notif != null) { %>
  <div class="alert alert-info" role="alert">
    <%=notif%>
  </div>
  <hr>
  <% } %>
  <form method="POST" action="/admin/changepw/<%=admin_details.username%>">
    Password: <input type="password" class="form-control" name="password" /> <br>
    Repeat Password: <input type="password" class="form-control" name="rpassword" /> <br><br>
    <input type="submit" class="form-control btn btn-primary">
  </form>
  <hr>

</div>

<% include partials/footer %>