<% include partials/header %>
<% include partials/nav %>

<div class="container-fluid">
  <div class="row">
    &nbsp;
  </div>

  <h4 style="text-align:center;">Expiring Certifications</h4>
  <hr>

  <div id="AC" class="expiring_comp">

  </div>

  <div id="GS" class="expiring_comp" style="display:none">

  </div>

  <div id="X-Ray Pre-Board" class="expiring_comp" style="display:none">

  </div>

  <div id="X-Ray HBS" class="expiring_comp" style="display:none">

  </div>

  <div id="X-Ray Cargo" class="expiring_comp" style="display:none">
    
  </div>

  <div class="w3-bar w3-black">
    <button class="w3-bar-item w3-button" onclick="openCity('London')">London</button>
    <button class="w3-bar-item w3-button" onclick="openCity('Paris')">Paris</button>
    <button class="w3-bar-item w3-button" onclick="openCity('Tokyo')">Tokyo</button>
  </div>
</div>

<% include partials/footer %>