<% include partials/header %>
<% include partials/nav %>
<%
function UNIXConverter(UNIX_timestamp){
  try {
    if (UNIX_timestamp == 0 || isNaN(UNIX_timestamp)) {
      return "-";
    }
    var a = new Date(UNIX_timestamp * 1000);
    var year = a.getFullYear();
    var month = a.getMonth() + 1;
    var date = a.getDate();
    if (month < 10) {
      month = "0" + month;
    }
    if (date < 10) {
      date = "0" + date;
    }
    var time = date + '/' + month + '/' + year;
    return time;
  } catch (error) {
    return "";
  }
}
%>
<div class="container-fluid">

  <h4 class="mt-4">Add New Others Record</h4>
  <hr>

  <form action='/others/new/<%=officer_details.nric%>/' method="POST" enctype="multipart/form-data">
    <div class="card d-flex mx-auto mb-5">
      <div class="card-header text-left">
        <div class="d-sm-flex flex-sm-row">
          <div class="mr-auto">
            <h6 class="mb-2 font-weight-bold">Name:
              <%=officer_details.fname%>
              <%=officer_details.lname%>
            </h6>
            <p class="mb-2">NRIC:
              <%=officer_details.nric%>
            </p>
          </div>
        </div>

      </div>
      <div class="card-body text-left">


        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="others_cardSeized">Card Seized:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="others_cardSeized" id="others_cardSeized" value=""
                required>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="others_certCardNo">Certification Card No.:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="others_certCardNo" id="others_certCardNo" value="" required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="others_cardReturned">Card Returned:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control datepicker" name="others_cardReturned" id="others_cardReturned"
                value="" required>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="others_exEmployer">Ex-Employer:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="others_exEmployer" id="others_exEmployer" value="" required>
            </div>
          </div>
          <div class="col-sm-4">
            <label class="font-weight-bold mb-0" for="others_serviceNo">Service No.:</label><br />
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="others_serviceNo" id="others_serviceNo" value="" required>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-12">
            <label class="font-weight-bold mb-0" for="others_reason">Reason:</label><br />
            <div class="input-group mb-3">
              <textarea class="form-control" name="others_reason" id="others_reason" required></textarea>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-sm-12">
            <label class="font-weight-bold mb-0" for="others_remarks">Remarks:</label><br />
            <div class="input-group mb-3">
              <textarea class="form-control" name="others_remarks" id="others_remarks" required></textarea>
            </div>
          </div>
        </div>

      </div>

      <% if (user.role == 1) { %>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-block" name="add_btn">Add</button>
      </div>
      <% } %>
    </div>


  </form>
</div>

<% include partials/footer %>