/* overall css */
html, body {
  height: 100%;
}

.navPills .active a,
.navPills .active a:hover {
  background-color: #00205B;
}


.btn-danger,
.btn-danger:active,
.btn-danger:focus{
  background-color: #C8102E;
  border-color: #C8102E;
}

.btn-danger:hover{
  background-color: rgba(200, 16, 47, 0.835);
  border-color: rgba(200, 16, 47, 0.835);
  color: white;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus{
  margin-bottom: 10px;
  background-color: #00205B;
  border-color: #00205B;
  color:white;
}

.btn-primary:hover{
  background-color: rgb(42, 80, 131);
  border-color: rgb(42, 80, 131);
  color: white;
}

.errMsg {
  color: red;
  font-size: 18px;
}

/* loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/res/Preloader_3.gif) center no-repeat #fff;
}

.loader {
  background: url(/res/Preloader_3.gif) center no-repeat #fff;
}

/* sign in */
body#signinBody {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

img.logoImg {
  width: 250px;
  height: 250px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* index */
.index-container {
  height: 100%;
}

#index-hr {
  width: 200px;
  border: none;
  height: 2px;
  background-color: #77777770;
  margin-top: 1px;
  margin-bottom: 12px;
  border-radius: 10px;
}

#index-h6 {
  margin-bottom: 10px;
}

/* Components record page */
.card {
  max-width: 80%;
}

@media only screen and (max-width: 768px) {
  .card {
    max-width: 100%;
  }
} 