/* overall css */
html, body {
  height: 100%;
}

.btn,
.btn:active,
.btn:focus{
  margin-bottom: 10px;
  background-color: #00205B;
  border-color: #00205B;
  color:white;
}

.btn:hover{
  background-color: rgb(42, 80, 131);
  border-color: rgb(42, 80, 131);
  color: white;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus{
  margin-bottom: 10px;
  background-color: #00205B;
  border-color: #00205B;
  color:white;
}

.btn-primary:hover{
  background-color: rgb(42, 80, 131);
  border-color: rgb(42, 80, 131);
  color: white;
}

/* loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/res/Preloader_3.gif) center no-repeat #fff;
}

.loader {
  background: url(/res/Preloader_3.gif) center no-repeat #fff;
}


/* index */
.index-container {
  height: 80%;
}

#index-hr {
  width: 200px;
  border: none;
  height: 2px;
  background-color: #77777770;
  margin-top: 1px;
  border-radius: 10px;
}

#searchInput {
  max-width: 60%;
}

table {
  padding: 10px;
}

/* Components record page */
.card {
  max-width: 80%;
}